body {
    background-color: indigo;
}

.center {
    padding: 0 calc(50% - 636px);
}

.menu {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 90%;
    border: 5px double grey;
    background-color: #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.cart-button {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 150px;
    border: 0;
    border-radius: 10px;
    background-color: #ccc;
    font-style: oblique;
    font-weight: bold;
    transition: color 0.25s;
    transition: background-color 0.25s;
    cursor: pointer;
}

.cart-button:hover {
    color: red;
    background-color: grey;
}

.goods-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.goods-item {
    padding: 10px;
    text-align: center;
    border: 1px solid grey;
    background-color: #ccc;
    width: 200px;
    height: 250px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.goods-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.item-button {
    padding: 5px;
    margin-top: 10px;
    border: 0;
    border-radius: 3px;
    transition: color 0.25s;
    cursor: pointer;
}

.item-button:hover {
    color: red;
}

.price {
    font-weight: bold;
}